body
{
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5 ,1fr);
    grid-template-rows: 100px 90px 500px 90px;
}
#header
{
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    margin-left: 50%;
}
.players
{
    grid-column: 1 / 6;
    grid-row:  2 / 3;
    display: flex;
    justify-content: space-around;
}
.players h2
{
   padding: 10px 20px 0 20px ;
   border-radius: 20px;
}
#game-board
{
    width: 500px;
    height: 500px;
    background-color: black;
    margin-left: 30%;
    grid-column: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 5px;
}
#game-board div
{
    background-color: white;
    font-size: 100px;
    text-align: center;
    font-family: sans-serif;
    cursor:pointer
}
.messages
{
    grid-row: 4 /5;
    grid-column: 3 / span 1;
    display: flex;
    gap: 20px;
    
}
#message
{
    width: 10em;
}
.messages button
{
    padding: 20px 40px;
    background-color: #16C47F;
    font-weight: 800;
    border-radius: 20px;
    
}